<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Partials/Layouts/_HeaderMeta")
    @await Html.PartialAsync("Partials/Layouts/_HeaderCSS")
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/genetella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Select2 -->
    <link href="~/lib/genetella/vendors/select2/dist/css/select2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/businesspermit.css" asp-append-version="true" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            
                    @await Html.PartialAsync("Partials/Menus/_LeftSideNavigation")
                    @await Html.PartialAsync("Partials/Menus/_TopBarNavigation")
            <div class="right_col" role="main">
                <div class="foots">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    @await Html.PartialAsync("Partials/Scripts/_Default")
    @await Html.PartialAsync("Partials/Scripts/_jQueryValidation")
    <script src="~/lib/genetella/vendors/moment/min/moment.min.js"></script>
    <script src="~/lib/genetella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Select2 -->
    <script src="~/lib/genetella/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="~/js/datepicker.js" asp-append-version="true"></script>
    <script src="~/js/businesspermit.js" asp-append-version="true"></script>
    <script src="~/js/printbusiness.js" asp-append-version="true"></script>
</body>
</html>
