<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
</head>
<body onafterprint="myFunction()">
    @RenderBody()


    @await Html.PartialAsync("Partials/Scripts/_Default")
    <script src="~/js/print.js" asp-append-version="true"></script>
</body>
</html>
