<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Partials/Layouts/_HeaderMeta")
    @await Html.PartialAsync("Partials/Layouts/_HeaderCSS")
    <!-- Animate.css -->
    <link href="~/lib/genetella/vendors/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet" asp-append-version="true">
    <!-- <link rel="stylesheet" href="~/css/inputLabel.css"> -->
</head>
<body class="login">
    <div class="container body-content">
        @RenderBody()
    </div>

    @await Html.PartialAsync("Partials/Scripts/_Default")
    @await Html.PartialAsync("Partials/Scripts/_jQueryValidation")
</body>
</html>
