<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Partials/Layouts/_HeaderMeta")
    @await Html.PartialAsync("Partials/Layouts/_HeaderCSS")
    @await Html.PartialAsync("Partials/Styles/_Datatables")
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            
                    @await Html.PartialAsync("Partials/Menus/_LeftSideNavigation")
                    @await Html.PartialAsync("Partials/Menus/_TopBarNavigation")
            <div class="right_col" role="main">
                <div class="foots">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    @await Html.PartialAsync("Partials/Scripts/_Default")
    @await Html.PartialAsync("Partials/Scripts/_Datatables")
    <script src="~/lib/sweetalert/sweetalert2.all.js" asp-append-version="true"></script>
    <script src="~/lib/genetella/vendors/datatables.net-buttons/js/buttons.colVis.min.js" asp-append-version="true"></script>
    <script src="~/js/blotter.js" asp-append-version="true"></script>
</body>
</html>
