@model BarangaySystem.Models.IdentityModels.ChangePassModel
@{
    //
}

        <div class="card col-md-12">
            <div class="card-header" style="margin-left:20px;"</div>
            <div class="card-body card-block">
                @if(TempData["Message"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert with-close alert-success alert-dismissible fade show">
                                @TempData["Message"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
                <div class="card col-md-7" style="margin:50px 0px 0px 50px;">
                    <form asp-action="ChangePass" asp-controller="Account" method="post">
                        <div asp-validation-summary="ModelOnly" class="suffe-alert alert with-close alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                </button>
                        </div>
                        <div class="col-md-12">
                            <h3 style="padding-bottom:10px;"> Change Pass For User : @ViewBag.Name </h3>
                        </div>
                        <div class="col-md-12">
                            <label>Current Password: </label>
                            <input type="password" asp-for="CurrentPass" class="form-control" placeholder="Enter Current Password" autofocus>
                            <span asp-validation-for="CurrentPass" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label>New Password: </label>
                            <input type="password" asp-for="NewPass" class="form-control" placeholder="Enter New Password">
                            <span asp-validation-for="NewPass" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label>New Password: </label>
                            <input type="password" asp-for="ConfirmPass" class="form-control" placeholder="Enter Confirm Password">
                            <span asp-validation-for="ConfirmPass" class="text-danger"></span>
                        </div>
                        <div class="col-md-12" style="padding:10px 10px 10px 40px;">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Submit</button>
                            <button type="button" class="btn btn-sm btn-danger"><a class="a" asp-action="Index" asp-controller="Account">Cancel</a></button>
                        </div>
                    </form>
                </div>
                
                </div>
            </div>
        </div>