@model BarangaySystem.Models.IdentityModels.UserProfileModel
@{
    //
}

<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit Account</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
                @if(TempData["Error"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-danger">
                                @TempData["Error"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form asp-action="Update" asp-controller="Account" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Account Type: @ViewBag.Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name: </label>
                                <input asp-for="Name" class="form-control" placeholder="Enter Name" autofocus>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>E-mail: </label>
                                <input asp-for="Email" class="form-control" placeholder="Enter Email" autofocus>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Contact number: </label>
                                <input asp-for="ContactNumber" class="form-control" placeholder="Enter Contact number" autofocus>
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>
                    
                    <div class="col-md-12" style="padding:10px 10px 10px 480px;">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Update</button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</section>