@{
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="login_wrapper">
    <div class="x_panel">
        <div class="x_title">
            <h2>Forgot Password</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="alert alert-success">
                    The reset link successfully sent to @TempData["EmailForgotPassword"] email.
                </div>
            </div>
            <div class="row">
                <a asp-action="Login" asp-controller="Account" class="btn btn-default submit btn-block">Sign-in</a>
            </div>
        </div>
    </div>
</div>