@model BarangaySystem.Models.IdentityModels.UserProfileViewModel
@{
    //
}



            <div class="card">
                <div class="card-header" style="margin-bottom:40px;">
                    <strong class="card-title">User Personal Information</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <form asp-action="Edit" asp-controller="Account" method="post">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            <div class="col-md-12">
                                <label class="text-right col-md-2">User Type:</label>
                                <label class="col-md-8"> @Model.RoleName</label>
                            </div>
                            <div class="col-md-12">
                                <label class="text-right col-md-2">Name:</label>
                                <label class="col-md-8">@Model.Name</label>
                            </div>
                            <div class="col-md-12">
                                <label class="text-right col-md-2">E-mail:</label>
                                <label class="col-md-8">@Model.Email</label>
                            </div>
                            <div class="col-md-12">
                                <label class="text-right col-md-2">Contact number:</label>
                                <label class="col-md-8">@Model.ContactNumber</label>
                            </div>
                            <div class="col-md-3 text-right">
                                <button type="submit"class="btn btn-sm btn-danger action"> Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer footers">
                    <div class="row">
                        <div class="col-sm-12 footerLink">
                            <div class="col-sm-3 text-right">
                                <p>Change Password?  |</p> 
                            </div>
                            <div class="col-sm-8">
                                <a asp-action="ChangePass" asp-controller="Account"><strong class="ChangePassLink">Click Here.!</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>