@model BarangaySystem.Models.IdentityModels.LoginModels
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}



<div class="login_wrapper">
    <div class="x_panel">
        <div class="x_content">
            <div  class="center">
                        <img style="width:300px; height:300px;" src="~/images/default/logo/Sambag1.png" alt="Sambag1">
            </div>
                <div id="errorMessage " style="text-align: left" asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <form class="center" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" method="post" id="logInForm">
                <div class="form-group has-feedback has-feedback">
                    <input asp-for="Username" class="form-control" placeholder="Username" autofocus/>
                    <i class="form-control-feedback glyphicon glyphicon-user"></i>
                <span asp-validation-for="Username" class="text-danger"></span><br>
                </div>


                <div class="form-group has-feedback has-feedback">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <i class="form-control-feedback glyphicon glyphicon-lock"></i>
                    <span asp-validation-for="Password" class="text-danger" ></span><br>
                </div>

                        <!-- <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>
                        </div> -->
                    <button type="Submit" id="btn-submit" class="btn btn-primary submit btn-block">Sign in</button>
                    <a style="margin-top: 10px" asp-action="ForgotPassword" asp-controller="Account" class="btn-block">Forgot Password</a>
                </form>
        </div>
    </div>
</div>