@model BarangaySystem.Models.IdentityModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="login_wrapper">
    <div class="x_panel">
        <div class="x_title">
            <h2>Forgot Password</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="errorMessage " style="text-align: left" asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <form asp-action="ResetPassword" asp-controller="Account" method="post">
                <input asp-for="Code" type="hidden"/>
                <div class="row">
                    <div class="form-group has-feedback has-feedback">
                        <input style="margin-bottom: 5px;" asp-for="EmailAddress" class="form-control" placeholder="Email Address" autofocus/>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span><br>
                        <i class="form-control-feedback fa fa-envelope"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback has-feedback">
                        <input style="margin-bottom: 5px;" asp-for="Password" class="form-control" placeholder="Enter new password" autofocus/>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span><br>
                        <i class="form-control-feedback fa fa-envelope"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group has-feedback has-feedback">
                        <input style="margin-bottom: 5px;" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new password" autofocus/>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span><br>
                        <i class="form-control-feedback fa fa-envelope"></i>
                    </div>
                </div>
                <div class="row">
                    <button type="Submit" id="btn-submit" class="btn btn-primary submit btn-block">Reset Password</button>
                    <a asp-action="Login" asp-controller="Account" class="btn btn-default submit btn-block">Sign-in</a>
                </div>
            </form>
        </div>
    </div>
</div>