@using BarangaySystem.Models.APIServices
@model BarangaySystem.Models.ModelModels.ModelModel
@{
    Layout = "~/Views/Shared/_Equipment.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit for <b><u>@Model.BrandName</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
                        @if(TempData["Success"] != null){
                            <div class="row"><div class="alert with-close alert-success alert-dismissible fade show Alert">@TempData["Success!"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                            </div></div>
                        }
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form asp-action="UpdateItemModel" asp-controller="Equipment" method="post">
                        <input asp-for="Id" type="hidden">
                        <input asp-for="Key" type="hidden">
                        <input asp-for="ItemId" type="hidden">
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Name" class="label-control">Name<b> *</b></label>
                                <input asp-for="Name" class="form-control" placeholder="Enter Name" autofocus>
                                <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6"
                            <label>Quantity<b> *</b></label>
                            <input asp-for="Quantity" class="form-control" type="text" placeholder="Enter Quantity">
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                            <label asp-for="Price">Price<b> *</b></label>
                            <input asp-for="Price" class="form-control amounts" placeholder="Enter Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row" style="margin: 10px 0 0 10px;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger" style="margin-left:10px;"><a asp-action="ViewEquipment" asp-controller="Equipment" style="color:white;">Cancel</a></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>