@{
    Layout = "~/Views/Shared/_ViewEquipment.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Equipment Models</h2><button type="button" class="btn btn-success btn-sm" style="float:right;"><a asp-action="Inventory" asp-controller="Equipment" style="color:white;">Inventory Report</a></button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->     
                    <table id="tblEquipment" class="table datatable table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Added By</th>
                                <th>Date Added</th>
                                <th>Date Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

