@model BarangaySystem.Models.ItemModels.ItemModel
@{
    Layout = "~/Views/Shared/_NewItem.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add new Equipment</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
                        @if(TempData["Success"] != null){
                            <div class="row"><div class="alert alert-success">@TempData["Success"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                            </div></div>
                        }
                        @if(TempData["Error"] != null){
                            <div class="row"><div class="alert alert-danger">@TempData["Error"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                            </div></div>
                        }
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form asp-action="SaveNewItem" asp-controller="Item" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Name" class="label-control">Name<b> *</b></label>
                                <input asp-for="Name" class="form-control" placeholder="Enter Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Brand">Brand<b> *</b></label>
                                <input asp-for="Brand" class="form-control" placeholder="Enter Brand">
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row" style="margin: 10px 0 0 10px;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger" style="margin-left:10px;"><a asp-action="ViewItem" asp-controller="Item" style="color:white;">Cancel</a></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>