@model BarangaySystem.Models.PersonModels.PersonModel
@{
    //
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Residents Personal Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
            @if(TempData["Error"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-danger">
                                @TempData["Error"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form asp-action="UpdatePerson" asp-controller="Person" method="post">
                        <input asp-for="Id" type="hidden">
                        <input asp-for="Key" type="hidden">
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name: </label>
                                <input asp-for="Fname" class="form-control" placeholder="Enter First Name" autofocus>
                                <span asp-validation-for="Fname" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Middle Name: </label>
                                <input asp-for="Mname" class="form-control" placeholder="Enter Middle Name">
                                <span asp-validation-for="Mname" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Last Name: </label>
                                <input asp-for="Lname" class="form-control" placeholder="Enter Last Name">
                                <span asp-validation-for="Lname" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Age: </label>
                                <input asp-for="Age" class="form-control" placeholder="Enter Age">
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender: </label>
                                <select asp-for="Gender" class="form-control">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Address: </label>
                                <input asp-for="Address" class="form-control" placeholder="Enter Address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>E-mail: </label>
                                <input asp-for="Email" class="form-control" placeholder="Enter Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Contact number: </label>
                                <input asp-for="ContactNumber" class="form-control" placeholder="Enter Contact number">
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>
                    <div class="col-md-12" style="padding:10px 0px 10px 0px; text-align:right;">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Submit</button>
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> <a asp-action="ViewPerson" asp-controller="Person" style="color:white;">Cancel</a></button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</section>