@model BarangaySystem.Models.PersonModels.PersonModel
@{
    Layout = "~/Views/Shared/_ViewBorrowed.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Borrowed Item's</h2>
                    <div class="clearfix"></div></div>
                <div class="clearfix"></div>
                <div class="x_content">
                @if(TempData["Success"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-success">
                                @TempData["Success"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
                    <div>
                        <table id="tblBorroweds" class="table datatable table-bordered">
                            <thead>
                                <tr>
                                    <th>Borrower's Name</th>
                                    <th>Item</th>
                                    <th>QTY</th>
                                    <th>Status</th>
                                    <th>Date Reserved</th>
                                    <th>Date Released</th>
                                    <th>Date Returned</th>
                                    <th>Action</th>
                                </tr>
                            </thead> 
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

