@{
    Layout = "~/Views/Shared/_ViewPerson.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Residence Information</h2>
                    <div class="clearfix"></div></div>
                <div class="clearfix"></div>
                <div class="x_content">
                @if(TempData["Success"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-success">
                                @TempData["Success"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
                    <div>
                        <table id="tblPersons" class="table datatable table-bordered">
                            <thead>
                                <tr>
                                    <th>Fname</th>
                                    <th>Mname</th>
                                    <th>Lname</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Contact No.</th>
                                    <th>Action</th>
                                </tr>
                            </thead> 
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

