
@{
    Layout="~/Views/Shared/_ViewPayment.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Payment of Business Permits</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->    
                    <table id="tblPayment" class="table datatable table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Payment For</th>
                                <th>Amount</th>
                                <th>Payment For</th>
                                <th>Amount</th>
                                <th>Payment For</th>
                                <th>Amount</th>
                                <th>Payment For</th>
                                <th>Amount</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
