<div class="col-md-3 left_col left_col menu_fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a asp-action="index" asp-controller="Home" class="site_title"><img src="~/images/default/logo/BARANGAY1.png" style="width:30px; height:30px;"> <span>BRGY SAMBAG 1</span></a>
        </div>

        <div class="clearfix"></div>

            <!-- menu profile quick info -->
          <!-- <div class="profile clearfix">
            <div class="profile_pic">
              <img src="~/images/default/users/admin.jpg" alt="..." class="img-circle profile_img">
            </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>Renzo Chorizo</h2>
              </div>
          </div> -->
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">

                  <li><a><i class="fa fa-laptop"></i> Equipments <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                          <li><a asp-action="NewItem" asp-controller="Item">Add</a></li>
                          <li><a asp-action="ViewItem" asp-controller="Item">View</a></li>
                          <li><a asp-action="ViewEquipment" asp-controller="Equipment">View Models</a></li>
                      </li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-hospital-o"></i> Facilities <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                          <li><a asp-action="NewFacility" asp-controller="Facility">Add</a></li>
                          <li><a asp-action="ViewFacility" asp-controller="Facility">View</a></li>
                      </li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-folder-open-o"></i> Permits & Clearances <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#">Barangay <span class="fa fa-chevron-down"></span></a> 
                        <ul class="nav child_menu">
                          <li><a asp-action="NewBarangay" asp-controller="Permit">Add</a></li>
                          <li><a asp-action="ViewBarangay" asp-controller="Permit">View</a></li>
                        </ul> 
                      </li>

                      <li><a href="#">Business <span class="fa fa-chevron-down"></span></a> 
                        <ul class="nav child_menu">
                          <li><a asp-action="NewBusiness" asp-controller="Business">Add</a></li>
                          <li><a asp-action="ViewBusiness" asp-controller="Business">View</a></li>
                        </ul> 
                      </li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-user"></i>Borrowers Information <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                          <li><a asp-action="NewBorrow" asp-controller="BorrowItem">Add</a></li>
                          <li><a asp-action="ViewBorrowed" asp-controller="Person">View</a></li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-legal"></i>Blotter <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                          <li><a asp-action="NewBlotter" asp-controller="Blotter">Add</a></li>
                          <li><a asp-action="ViewBlotter" asp-controller="Blotter">View</a></li>
                    </ul>
                  </li>

                  <li><a><i class="fa fa-user"></i>Residence Information <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                          <li><a asp-action="NewPerson" asp-controller="Person">Add</a></li>
                          <li><a asp-action="ViewPerson" asp-controller="Person">View</a></li>
                    </ul>
                  </li>

                  @if(User.IsInRole("Administrator"))
                  {
                  <li><a><i class="fa fa-gear"></i> Account <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                          <li><a asp-action="NewUser" asp-controller="Account">Add</a></li>
                          <li><a asp-action="ViewAccount" asp-controller="Account">View</a></li>
                    </ul>
                  </li>
                  }
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <form id="formLogout" asp-action="Logout" asp-controller="Account">
                <a data-toggle="tooltip" data-placement="top" title="Logout" onclick="javascript:getElementById('frmLogout').submit()">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a> 
              </form>
            </div>
            <!-- /menu footer buttons -->
    </div>  
</div>
