@using Microsoft.AspNetCore.Identity 
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using BarangaySystem.Models.IdentityModels
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = UserManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
    string usersPath = "/images/default/users/",
            userImage = string.Empty;
    var imagePath ="admin.jpg";
    
    userImage = string.Concat(usersPath,imagePath);
}
<!-- Top Navigation -->
      <div class="top_nav">
        <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="~/images/default/logo/BARANGAY1.png" style="width:30px; height:30px;" alt="BRGY">
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a asp-action="Index" asp-controller="Account"> Profile</a></li>
                      <li>
                        <form id="frmLogout" class="form-group" asp-action="Logout" asp-controller="Account">
                          <a onclick="javascript:getElementById('frmLogout').submit()">
                            <i class="fa fa-sign-out pull-right"></i> Log Out
                          </a>
                        </form>
                      </li>
                  </ul>
                </li>

              </ul>
            </nav>
        </div>
      </div>
