@model BarangaySystem.Models.PermitModels.BusinessModel
@{
    Layout = "~/Views/Shared/_BusinessPermit.cshtml";
}
<section>
    <form asp-action="EditBusiness" asp-controller="Business" method="post">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Update</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-file-text"></i> Add Business Request</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!--content here...-->
                        @if(TempData["Success"] != null){
                            <div class="row">
                                <div class="col-md-12">
                                        <div class="alert alert-success">
                                            @TempData["Success"]
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        }
                        @if(TempData["Error"] != null){
                            <div class="row">
                                <div class="col-md-12">
                                        <div class="alert alert-danger">
                                            @TempData["Error"]
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        }
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name of Requestor: </label>
                                <input asp-for="Name" class="form-control" placeholder="Enter Name" autofocus>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Business Name: </label>
                                <input asp-for="BusinessName" class="form-control" placeholder="Enter BusinessName">
                                <span asp-validation-for="BusinessName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Business Address: </label>
                                <input asp-for="BusinessAddress" class="form-control" placeholder="Enter Business Address">
                                <span asp-validation-for="BusinessAddress" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Business Permit Number: </label>
                                <input asp-for="Bbpno" class="form-control" placeholder="Enter Business Permit Number">
                                <span asp-validation-for="Bbpno" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Date Requested: </label>
                                <input id="DateTime" asp-for="DateRequested" class="form-control date-picker" type="text" placeholder="Enter Date Requested">
                                <span asp-validation-for="DateRequested" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label>Type Of Request: </label>
                                <select asp-for="TypeOfRequest" class="form-control">
                                    <option>New</option>
                                    <option>Renewal</option>
                                </select>
                                <span asp-validation-for="TypeOfRequest" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Assessed By: </label>
                                <input asp-for="AssessedBy" class="form-control" placeholder="Enter Assessed By">
                                <span asp-validation-for="AssessedBy" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Payments Total: ₱<a id="total">0.00</a></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Permit Fee: </label>
                            </div>
                            <div class="col-md-6">
                                <label>Tax Due: </label>
                            </div>
                        </div>
                        <!-- 1 -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input asp-for="PermitFee" class="form-control has-feedback-left" placeholder="Enter Permit Fee Decription">
                                <span asp-validation-for="PermitFee" class="text-danger"></span>
                                <span class="form-control-feedback left" aria-hidden="true">1. </span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input asp-for="Php" class="fee form-control has-feedback-left"placeholder="Enter Amount">
                                <span asp-validation-for="Php" class="text-danger"></span>
                                <span class="form-control-feedback left" aria-hidden="true">₱</span>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input asp-for="PermitFee1" class="form-control has-feedback-left" placeholder="Enter Permit Fee Decription">
                                <span class="form-control-feedback left" aria-hidden="true">2. </span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                <input asp-for="Php1" class="fee form-control has-feedback-left" placeholder="Enter Amount">
                                <span class="form-control-feedback left" aria-hidden="true">₱</span>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input asp-for="PermitFee2" class="form-control has-feedback-left" placeholder="Enter Permit Fee Decription">
                                <span class="form-control-feedback left" aria-hidden="true">2. </span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input asp-for="Php2" class="fee form-control has-feedback-left" placeholder="Enter Amount">
                                <span class="form-control-feedback left" aria-hidden="true">₱</span>
                            </div>
                        </div>
                        <!-- 4 -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input asp-for="PermitFee3" class="form-control has-feedback-left" placeholder="Enter Permit Fee Decription">
                                <span class="form-control-feedback left" aria-hidden="true">2. </span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input asp-for="Php3" class="fee form-control has-feedback-left" placeholder="Enter Amount">
                                <span class="form-control-feedback left" aria-hidden="true">₱</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>