@{
    Layout = "~/Views/Shared/_ViewBusiness.cshtml";
}

<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-file-text"></i> Business Permits</h2> <a href="~/Payment/ViewPayment" class="btn btn-sm btn-info" style="float:right;"><i class="fa fa-eye"></i> View Payments</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="tblBusiness" class="table datatable table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Business</th>
                                    <th>Address</th>
                                    <th>Total Tax</th>
                                    <th>Type</th>
                                    <th>Released By</th>
                                    <th>Action</th>
                                </tr>
                            </thead> 
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

