@model BarangaySystem.Models.PersonModels.PersonBorrowSlip
@{
    Layout = "~/Views/Shared/_Slip.cshtml";
}
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <center><img src="~/images/default/logo/Sambag1.png" alt="Sambag1" style="width:150px; max-width:150px;"></center>                            
                        </tr>
                        <tr>
                        <CENTER>REPUBLIC OF THE PHILIPPINES<br>
                        BARANGAY SAMBAG 1<br>
                        CEBU CITY</CENTER>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Borrowers Name: <span>@Model.Fname @Model.Mname @Model.Lname</span><br>
                                Issued By: <span>@Model.IssuedBy</span> <br>
                                Date & Time Reserved: <span>@Model.DateReserved @Model.BorrowedTime</span>
                            </td>
                            
                            <td style="text-align: center">
                                Date & Time Released: <span>@Model.DateReleased</span><br>
                                Date & Time Return: <span>@Model.DateReturn</span>
                                
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Address: J. Alcantara St. Cebu City 
                </td>
                
                <td>
                    Tel #: 254-7590/255-0552
                </td>
            </tr>
            
            <tr class="details">
                <td>
                    <br>
                    Borrowers Slip<br>
                    Borrowed From Barangay Sambag 1 Cebu City
                </td>
                
            </tr>
    </div>

            <table id="tblBorrows">
                <thead>
                    <tr>
                        <th>Name Of Item</th>
                        <th style="float:right;">Quantity</th>
                    </tr>
                </thead> 
                <tbody></tbody>
            </table>

    <script src="~/js/borrowerslip.js" asp-append-version="true"></script>


    <script>
    function myFunction() {
        document.location.href = "http://localhost:5000/Person/ViewBorrowed";
        }
    </script>