@model BarangaySystem.Models.BorrowItemModels.BorrowItemModel
@using BarangaySystem.Models.APIServices
@{
    Layout = "~/Views/Shared/_BorrowItem.cshtml";
}

@{
    var api = new APIBorrowItem();
    // var UserOptions  = new SelectList(api.UserValues, "Value", "Text");
    var ItemOptions = new SelectList(api.ItemValues, "Value", "Text");
    var PersonOptions = new SelectList(api.PersonValues, "Value", "Text");

}    
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Borrow an Item</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
                        @if(TempData["Success!"] != null){
                            <div class="row"><div class="alert alert-success">@TempData["Success!"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                            </div></div>
                        }
                        @if(TempData["Error"] != null){
                            <div class="row"><div class="alert alert-danger">@TempData["Error"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                            </div></div>
                        }
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form asp-action="SaveNewBorrow" asp-controller="BorrowItem" method="post">
                        <input asp-for="PersonBorrower" type="hidden">
                        <input asp-for="Key" type="hidden">

                        <div class="row">
                            <div class="col-md-6">
                                <label>Name of Borrower<b> *</b></label>
                                <select id="pers" asp-items="@PersonOptions" class="js-dropdown form-control"></select>
                            </div>
                            <div class="col-md-6">
                                <label>Item<b> *</b></label>
                                <select id="Item" asp-items="@ItemOptions" class="js-dropdown form-control"></select>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <input asp-for="ItemName" type="hidden"/>
                                <div id="groupModels" class="col-md-12 clo-sm-12 col-xs-12">
                                </div>
                                <span asp-validation-for="ItemName" class="text-danger"></span>
                            </div>

                            <div class="col-md-3">
                                <label> Quantity<b> *</b></label>
                                <input asp-for="ItemQuantity" class="form-control" type="text" placeholder="Enter Quantity">
                                <span asp-validation-for="ItemQuantity" class="text-danger"></span>
                            </div>

                            <div class="col-md-3" style="margin-left:9px; width:260px;">
                                <label>Date Reserved<b> *</b></label>
                                <input id="DateTime" asp-for="DateReserved" class="form-control" type="text" required>
                                <span asp-validation-for="DateReserved" class="text-danger"></span>
                            </div>
                            <div class="col-md-3" style="margin-left:9px; width:255px;">
                                <label>Time Reserved<b> *</b></label>
                                <input asp-for="BTime" id="Times" type="text" class="time ui-timepicker-input form-control" autocomplete="off">
                            </div>
                        </div>

                        <div class="row" style="margin: 10px 0 0 10px; float:right;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger" style="margin-right:10px;"><a asp-action="ViewBorrowed" asp-controller="Person" style="color:white;">Cancel</a></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>