<!-- Datatables -->
    <script src="~/lib/genetella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/lib/genetella/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/lib/genetella/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/lib/genetella/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/lib/genetella/vendors/pdfmake/build/vfs_fonts.js"></script>
