<!-- jQuery -->
    <script src="~/lib/genetella/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/genetella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/genetella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/genetella/vendors/nprogress/nprogress.js"></script>
    <!-- jQuery custom content scroller -->
    <script src="~/lib/genetella/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/lib/genetella/build/js/custom.min.js"></script>
