@model BarangaySystem.Models.PermitModels.BusinessPrint
@{
    Layout = "~/Views/Shared/_OR.cshtml";
}
    <img class="img-left" src="~/images/default/logo/Sambag1.png" alt="">
    <img class="img-right" src="~/images/default/logo/seal.png" alt="">
<p class="republic">Republic of the philippines<br>
<a class="ceb">CITY OF CEBU</a><br><b class="bara">Barangay Sambag 1</b><br><a class="office">OFFICE OF THE PUNONG BARANGAY</a></p>
<br>Address: J. Alcantara St., Cebu City <span style="padding-left:50px;">Tel #: 254-7590 / 255-0552</span>
<hr class="left" width="570px" size="1" color="black"> 
<p><b><font size="3" class="or">OFFICIAL RECIEPT</font></b> <br><br>

Name: <span id="Name0" class="underline"></span> <br>
Business Name: <span id="Bname" class="underline"></span> <br>
Business Address: <span id="Baddress" class="underline"></span> <br>
BBP number: <span id="Bbpno" class="underline"></span> <br>
Date & Time: <span id="DateReleased" class="underline"></span> <br>
Permit Fee:                                                                              <label style="margin-left:260px;">TAX DUE:</label> <br>
1. <span id="Pfee" class="underline"></span>                                             <span style="float:right; margin-right:300px;">PHP <span id="php" class="underline"></span></span> <br>
2. <span id="Pfee1" class="underline"></span>                                            <span style="float:right; margin-right:300px;">PHP <span id="php1" class="underline"></span></span> <br>
3. <span id="Pfee2" class="underline"></span>                                            <span style="float:right; margin-right:300px;">PHP <span id="php2" class="underline"></span></span> <br>
4. <span id="Pfee3" class="underline"></span>                                            <span style="float:right; margin-right:300px;">PHP <span id="php3" class="underline"></span></span> <br>

                      TOTAL TAX/ CHARGE DUE:                                             <label style="margin-left:190px;">PHP</label> <span id="totalTax" class="underline"></span> <br><br><br><br>


                                                                                    

  <label class="seal">OFFICIAL SEAL</label>                                                                                                                                   <span style=" float:right;"> Assessed by: <span style="text-align: center; margin-right:300px;" id="Aby" class="underline"></span></span>


<input asp-for="Name" id="Bnames" type="hidden">
<input asp-for="BusinessName" id="BbusinessName" type="hidden">
<input asp-for="BusinessAddress" id="BbusinessAddress" type="hidden">
<input asp-for="BBPno" id="BbbPno" type="hidden">
<input asp-for="AssessedBy" id="BassessedBy" type="hidden">
<input asp-for="DateReleased" id="BdateReleased" type="hidden">
<input asp-for="PermitFee" id="BpermitFee" type="hidden">
<input asp-for="PHP" id="BpHP" type="hidden">
<input asp-for="PermitFee1" id="BpermitFee1" type="hidden">
<input asp-for="PHP1" id="BpHP1" type="hidden">
<input asp-for="PermitFee2" id="BpermitFee2" type="hidden">
<input asp-for="PHP2" id="BpHP2" type="hidden">
<input asp-for="PermitFee3" id="BpermitFee3" type="hidden">
<input asp-for="PHP3" id="BpHP3" type="hidden">
<input asp-for="TotalTax" id="BtotalTax" type="hidden">
<script>
function myFunction() {
    document.location.href = "http://localhost:5000/Business/ViewBusiness";
    }
</script>