@model BarangaySystem.Models.PermitModels.BarangayViewModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
}
        <header>
            <div class="right-header">
                    <img class="image-left" src="~/images/default/logo/Sambag1.png" alt="">
            </div>
            <div class="left-header">
                <p class="headers"><b><font size="6">BARANGAY SAMBAG 1</font></b><br>J Alcantara sT., Cebu City (Beside Seven eleven)<br>Tel. No.: (032) 254-7590</p>
            </div>
                
        </header>
              
      <section>
        <nav>
          <ul>
              <li>BRGY. OFFICIALS</li>
              <br>
              <br>
              <br>
              <li class="nav-captain">BRGY. CAPTAIN</li>
              <br>
              <br>
              <li>AILIEN R. GUARDO</li>
              <br>
              <br>
              <br>
              <li class="nav-captain">COUNCILORS</li>
              <br>
              <br>
              <br>
              <li class="nav-councilor">LYZA BACALTOS</li>
              <br>
              <br>
              <li class="nav-councilor">DONALD ARQUIZA</li>
              <br>
              <br>
              <li class="nav-councilor">NALDO TALLO</li>
              <br>
              <br>
              <li class="nav-councilor">ALLAN ABELLA</li>
              <br>
              <br>
              <li class="nav-councilor">DONGKOY TALLO</li>
              <br>
              <br>
              <li class="nav-councilor">VAN AZNAR</li>
              <br>
              <br>
              <li class="nav-councilor">JAIME LACUNA</li>
              <br>
              <br>
              <br>
              <br>
              <li class="nav-captain">SK CHAIRMAN</li>
              <br>
              <br>
              <li class="nav-councilor">DIANNE PADILLO</li>
                         
          </ul>
        </nav>
        <article>
            <div class="maincontainer">
                <div class="content">
                    <div class="">
                        <pre>

<span id="DateReleased"></span>
                            <center><p><b><font size="6">BARANGAY CLEARANCE</font></b></p></center>
To whom it may concern,

        This is to certify that <span id="Name" class="lName"></span>., born on <span id="DateOfBirth" class="lName"></span>, is a bonafide resident of the barangay with postal address at <span id="Address" class="lName"></span>., known to be good moral character in the community with no record as per our blotter book of the lupon tagapamayapa.





        This certification is issued upon her/his request for<span id="Purpose" class="lName"></span> or whatever legal purpose it may serve her/him best.



Issued on <span id="IssuedDate" class="lName"></span> , Barangay Sambag 1, Cebu City.




                        
                 <a><b>MARIA AILIEN R. GUARDO</a></b>                               <a>NOT VALID</a>
                        <a>Barangay Captain</a>                                         WITHOUT
                                                                                              OFFICIAL SEAL
                        </pre>

                    </div>
                </div>
        </article>
      </section>
      <input asp-for="Name" id="pName" type="hidden">
      <input asp-for="DateOfBirth" id="pDateOfBirth" type="hidden">
      <input asp-for="Address" id="pAddress" type="hidden">
      <input asp-for="Purpose" id="pPurpose" type="hidden"> 
      <input asp-for="DateReleased" id="pDateReleased" type="hidden">
      <input asp-for="IssuedDate" id="pIssuedDate" type="hidden">

<script>
function myFunction() {
    document.location.href = "http://localhost:5000/Permit/ViewBarangay";
    }
</script>
