@model BarangaySystem.Models.PermitModels.BusinessPrint
@{
    Layout = "~/Views/Shared/_Default1.cshtml";
}
<center>
    <img class="img-left" src="~/images/default/logo/Sambag1.png" alt="">
    <img class="img-right" src="~/images/default/logo/seal.png" alt="">
<p>Republic of the philippines<br><a>CITY OF CEBU</a><br><b>Barangay Sambag 1</b><br><a>OFFICE OF THE PUNONG BARANGAY</a></p>
</center>
<br><br>Address: J. Alcantara St., Cebu City <span style="padding-left:8em">Tel #: 254-7590 / 255-0552</span>
<hr size="1" color="black"> 

<pre>
<center><p><b><font size="3">APPLICATION FOR BARANGAY BUSINESS PERMIT (BBP)</font></b></center>
        Hon Maria Ailien R. Guardo                                                                                          <span id="DateReleased"></span>
        Barangay Chairman                                                                                                        (<span id="Type"></span>) New
        Barangay Sambag 1                                                                                                        (<span id="Type1"></span>) Renewal, Prev. BBP No.<span id="Bbpno"></span>
        Cebu City                                                                                                                          BBP No.:<span id="Bbpno1"></span>
        Sir:
                      I <span id="Name0" class="underline"></span> a bonafied resident of Barangay Sambag I, Cebu City, do hereby apply for a
             BARANGAY BUSINESS PERMIT</a> engaged in business / activity. For this purpose, the following
             information are hereto submitted:

                      NAME OF PERMITTEE:<span id="Name1"></span>
                      BUSINESS NAME:<span id="Bname"></span>
                      BUSINESS ADDRESS:<span id="Baddress"></span>

                      LINE OF BUSINESS TO OPERATE:

              PERMIT FEE:                                                                                           TAX DUE:
                             1. <span id="Pfee" class="underline"></span>                                             <span style="float:right; margin-right:200px;">PHP <span id="php" class="underline"></span></span>
                             2. <span id="Pfee1" class="underline"></span>                                            <span style="float:right; margin-right:200px;">PHP <span id="php1" class="underline"></span></span>
                             3. <span id="Pfee2" class="underline"></span>                                            <span style="float:right; margin-right:200px;">PHP <span id="php2" class="underline"></span></span>
                             4. <span id="Pfee3" class="underline"></span>                                            <span style="float:right; margin-right:200px;">PHP <span id="php3" class="underline"></span></span>

                      TOTAL TAX/ CHARGE DUE:                                                                                PHP <span id=totalTax class="underline"></span>

               The above declaration is subject to verification by proper Barangay Authorities upon demand without objection. 
               I promise to operate only the lines of business as applied above after a Mayor`s Permit has been duly granted. 
               Furthermore, the approved Barangay Business Permit and Mayor`s Permit Shall be hung theconspicuously in the 
               premises establishment.

                                                                                    
                                                                                                                                       Assessed by:

                                                                                                                                      <span style="text-align: center;" id="Aby" class="underline"></span>
                                                                                                                                       Barangay Secretary

                                   <span id="Name2" class="underline"></span>
                              Signature of applicant
</pre>
<input asp-for="Name" id="Bnames" type="hidden">
<input asp-for="BusinessName" id="BbusinessName" type="hidden">
<input asp-for="ReleasedBy" id="BreleasedBy" type="hidden">
<input asp-for="DateReleased" id="BdateReleased" type="hidden">
<input asp-for="TypeOfRequest" id="BtypeOfRequest" type="hidden">
<input asp-for="DateRequested" id="BdateRequested" type="hidden">
<input asp-for="BusinessAddress" id="BbusinessAddress" type="hidden">
<input asp-for="BBPno" id="BbbPno" type="hidden">
<input asp-for="AssessedBy" id="BassessedBy" type="hidden">
<input asp-for="PermitFee" id="BpermitFee" type="hidden">
<input asp-for="PHP" id="BpHP" type="hidden">
<input asp-for="PermitFee1" id="BpermitFee1" type="hidden">
<input asp-for="PHP1" id="BpHP1" type="hidden">
<input asp-for="PermitFee2" id="BpermitFee2" type="hidden">
<input asp-for="PHP2" id="BpHP2" type="hidden">
<input asp-for="PermitFee3" id="BpermitFee3" type="hidden">
<input asp-for="PHP3" id="BpHP3" type="hidden">
<input asp-for="TotalTax" id="BtotalTax" type="hidden">
<script>
    
function myFunction() {
    document.location.href = "http://localhost:5000/Business/ViewBusiness";
    }
</script>