@model BarangaySystem.Models.FacilityModels.FacilityModel
@{
   //
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add new Facility</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
                        @if(TempData["Success"] != null){
                            <div class="row"><div class="alert alert-success">@TempData["Success"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                            </div></div>
                        }
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form asp-action="SaveNewFacility" asp-controller="Facility" method="post">
                        <div class="row">
                                <div class="col-md-6">
                                <label asp-for="Name" class="label-control">Name<b> *</b></label>
                                <input asp-for="Name" class="form-control" placeholder="Enter Name" >
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                <label asp-for="Description">Description<b> *</b></label>
                                <textarea style="max-width:100%;" asp-for="Description" class="form-control" placeholder="Enter Description" > </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row" style="margin: 10px 0 0 10px;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger" style="margin-left:10px;"><a asp-action="ViewFacility" asp-controller="Facility" style="color:white;">Cancel</a></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>