    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BARANGAY SAMBAG 1 </title>
    <link href="~/images/default/logo/BARANGAY1.png" rel="icon" type="image/x-icon" />
