@model BarangaySystem.Models.PermitModels.BarangayModel
@using BarangaySystem.Models.APIServices
@{
    Layout = "~/Views/Shared/_BarangayPermit.cshtml";
}

@{
    var api = new APIBarangay();
    var PersonOptions = new SelectList(api.PersonValues, "Value","Text");

}   

<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-file-text"></i> Request for Barangay Clearance</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
            @if(TempData["Success"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-success">
                                @TempData["Success"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
            @if(TempData["Error"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-danger">
                                @TempData["Error"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form asp-action="SaveNewBarangay" asp-controller="Permit" method="post">
                    <div class="row">
                        <input asp-for="Name" type="hidden">
                            <div class="col-md-6">
                                <label>Full name<b> *</b></label>
                                <select id="pers" asp-items="@PersonOptions" class="js-dropdown form-control"></select>
                            </div>
                    </div>
                    <div class="row">
                            <input asp-for="Address" type="hidden">

                            <div class="col-md-6" style="margin-left:0px;">
                                <div id="groupModels">
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date of Birth<b> *</b></label>
                            <input id="DateTime" asp-for="DateOfBirth" class="form-control date-picker" type="text" placeholder="Enter Date of Birth" required>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Purpose: </label>
                            <input asp-for="Purpose" class="form-control" placeholder="Enter Purpose" autofocus>
                            <span asp-validation-for="Purpose" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date Issued: </label><!--Tootltip-->
                            <a href="#" data-toggle="tooltip" title="Sample ( this 3rd day of August )"><span class="badge badge-info">?</span></a>
                            
                            <input asp-for="IssuedDate" class="form-control" placeholder="Enter Date Issued" autofocus>
                            <span asp-validation-for="IssuedDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6" style="padding:10px 5px 10px 0px; text-align:right;">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Submit</button>
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> <a asp-action="ViewBarangay" asp-controller="Permit" style="color:white;">Cancel</a></button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</section>