@{
    Layout = "~/Views/Shared/_ViewBarangay.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-file-text"></i> Released Barangay Permits</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
                    <table id="tblBanrangay" class="table datatable table-bordered">
                        <thead>
                            <tr>
                                <th>Name of Requestor</th>
                                <th>Address</th>
                                <th>Date of Birth</th>
                                <th>Purpose</th>
                                <th>Date Issued</th>
                                <th>Assisted By</th>
                                <th>Date Requested</th>
                                <th>Permit</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

