.img-left {
    float: left;
    height: 150px;
    width: 150px;
    padding-top: -8em;
}

.img-right {
    float: right;
    height: 100px;
    width: 100px;
    padding-top: 1.5em;
    padding-right: 1em;

}

pre {
    font-size: 16px;
    font-family: calibri;
}
.underline{
    text-decoration: underline;
}