header {
    text-align: center;
    width: 800px;
    border-bottom:solid black;
    height: 150px;



}
.lName{
    max-width: 200px;
    font-weight: bolder;
    width: 200px;
    margin-left: 10px;
}
.left-header{
    padding-top: 1em;
    padding-right: 10em;
}
* {
    box-sizing: border-box;

}

.image-left{
    float: left;
    width: 180px;
    height: 150px;
    padding-left: 0.5em;
    padding-right: 0em;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    float: left;
    width: 200px;
    height: 880px; 
    background: #ccc;
    padding: 10px;
    border-right: solid black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.nav-captain{
    background-color: blue;
    color: #ccc;
    margin-right:-10px;
}
.nav-councilor{
    text-align: justify;
    padding-left: 1em;
}
.right{
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    width: 600px;
    background-color: #f1f1f1;
    height: 880px; 
}

section:after {
    content: "";
    display: table;
    clear: both;
}
pre{
    font-size: 18px;
    width: 550px;
    white-space: pre-wrap;
    word-break: normal;
    margin-left: 12px;
    font-family: calibri;
}



@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}