#errorMessage ul{
    margin: 5px;  
    list-style-type: none; 
}

#errorMessage ul li:before {
    font-family: FontAwesome;
    content: "\f071";
    margin-right: 5px;
}
#errorMessage{
    margin: 3px 0px 3px 0px;
    padding: 0px;
}
.center{
    text-align: center;
}