.img-left {
    float: left;
    height: 143px;
    width: 143px;
    padding-top: -8em;
}

.img-right {
    height: 100px;
    width: 100px;
    padding-top: 1.5em;
    margin-left: 200px;

}
.republic{
    margin-top:-80px;
    margin-left:150px;
}
.or{
    margin-left: 200px;
}
.bara{
    margin-left: 30px;
}
.office{
    margin-left: -32px;
}
.left{
    margin-left: -105px;
}
.ceb{
    margin-left: 50px;
}

pre {
    font-size: 16px;
    font-family: calibri;
}
.seal{
    margin-left: 30px;
}
.underline{
    text-decoration: underline;
}
@media (max-width: 1000px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}