.dropdown-menu-right {
    right: 0;
    left: auto;
}

.action
{
    margin: 5px 0px 5px 25px;
}
.floats{
    float: right;
}
.borrow{
    font-size: 16px;
    margin-left: 20px;
}
.fact{
    min-width: 1000px;
    max-width: 1000px;
    text-indent: 50px;
    margin-left: 20px;
    font-size: 18px;
    white-space: pre-wrap;
    word-break: normal;
    font-family: calibri;
}
.a
{
    text-decoration: none !important;
    color: white;
}
.x_content .row{
    margin-bottom: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
    height: 300px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.image{
    max-height: 300px;
    margin: auto;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.foots
{
    min-height: 615px;
}
