@model BarangaySystem.Models.BlotterModels.BlotterModel
@{
    //
}
<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-12">
                <a class="btn btn-primary pull-right action" asp-action="index" asp-controller="Home"><i class="fa fa-arrow-left"></i>Back to Home</a>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Records of Complaints</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
                @if(TempData["Success"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-success">
                                @TempData["Success"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
            @if(TempData["Error"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-danger">
                                @TempData["Error"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <form asp-action="SaveNewBlotter" asp-controller="Blotter" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Complainant Name: </label>
                                <input asp-for="Name" class="form-control" placeholder="Enter Fullname" autofocus required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Complainant Age: </label>
                                <input asp-for="Age" class="form-control" placeholder="Enter Age" required>
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Complainant Address: </label>
                                <input asp-for="Address" class="form-control" placeholder="Enter Address" required>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Name Of Respondent: </label>
                                <input asp-for="NameOfRespondent" class="form-control" placeholder="Enter Fullname Of Respondent" required>
                                <span asp-validation-for="NameOfRespondent" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Respondent Address: </label>
                                <input asp-for="RespondentAddress" class="form-control" placeholder="Enter Respondent Address" required>
                                <span asp-validation-for="RespondentAddress" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Purpose: </label>
                                <input asp-for="Purpose" class="form-control" placeholder="Enter Respondent Purpose">
                                <span asp-validation-for="Purpose" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>BPSO on Duty: </label>
                                <input asp-for="BpsoonDuty" class="form-control" placeholder="Enter BPSO on Duty" required>
                                <span asp-validation-for="BpsoonDuty" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label>Respondent Estimated Age: </label>
                                <input asp-for="RespondentAge" class="form-control" placeholder="Enter Respondent Estimated Age">
                                <span asp-validation-for="RespondentAge" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>Facts: </label>
                                <textarea asp-for="Facts" class="form-control" placeholder="Enter Facts" required></textarea>
                                <span asp-validation-for="Facts" class="text-danger"></span>
                            </div>
                        </div>

                    <div class="col-md-12" style="padding:10px 0px 10px 0px; text-align:right;">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Submit</button>
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> <a asp-action="ViewBlotter" asp-controller="Blotter" style="color:white;">Cancel</a></button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
</section>