@model BarangaySystem.Models.BlotterModels.BlotterModel
@{
    //
}
<section>
    <div class="row">
        <div class="col-xs-12">
        <div class="col-md-12">
            <a class="btn btn-sm btn-info pull-right action" asp-action="ViewBlotter" asp-controller="Blotter"><i class="fa fa-arrow-left"></i> Back</a>
        </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2> Complainant Facts / Description <b>@Model.Name</b></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--content here...-->
                        <input asp-for="Id" type="hidden">
                        <input asp-for="Key" type="hidden">
                        <div class="row">
                            <div class="col-md-6">
                                <pre class="fact"> @Model.Facts</pre>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</section>