@{
    Layout = "~/Views/Shared/_ViewBlotter.cshtml";
}

<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Blotter Records</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @if(TempData["Success!"] != null){
                <div class="row">
                    <div class="col-md-12">
                            <div class="alert alert-success">
                                @TempData["Success!"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>
                </div>
            }
                    <!--content here...-->      
                    <table id="tblBlotter" class="table datatable table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Address</th>
                                <th>Name Of Respondent</th>
                                <th>Respondent Address</th>
                                <th>Respondent Age</th>
                                <th>Purpose</th>
                                <th>BPSO on Duty</th>
                                <th>Facts</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

