@model IEnumerable<BarangaySystem.Models.SelectOptions>
    <label class="label-control">Model <b> *</b></label>
    <select id="selectModels" class="js-dropdown form-control">
        @foreach(var item in @Model){
            <option value="@item.Value">@item.Text</option>
        }
    </select>
